@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--icon: 217 19% 27%;
		--radius: 0.5rem;
		--transparent: rgba(255, 255, 255, 0);

		--primary-custom: 247 92% 60%;
		--primary-custom-foreground: 0 0% 100%;
		
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
	  
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		
		--background: 240 100% 98%;
		--foreground: 0 0% 0%;       
		
		--card: 240 100% 98%;
		--card-foreground: 0 0% 0%;
		
		--popover: 240 100% 98%;
		--popover-foreground: 0 0% 0%;
		
		--primary: 247 92% 60%;
		--primary-foreground: 0 0% 100%;
		
		--secondary: 235 32% 92%;
		--secondary-foreground: 0 0% 0%;
		
		--muted: 235 32% 92%;
		--muted-foreground: 240 50% 20%;
		
		--accent: 235 32% 92%;
		--accent-foreground: 0 0% 0%;

		--link: 211 100% 50%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 100%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--link: 220 100% 66%;
	}
}

@layer base {
	:root{
		@apply dark:dark;
	}
	html {
		scroll-behavior: smooth;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	.h1 {
		@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
	}

	.h2 {
		@apply scroll-m-20 border-b text-3xl font-semibold tracking-tight transition-colors first:mt-0;
	}

	.h3 {
		@apply scroll-m-20 text-2xl font-semibold tracking-tight;
	}

	.h4 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight;
	}

	p {
		@apply leading-7;
	}

	.bg-radial {
		background: radial-gradient(
			ellipse 80% 50% at 50% -20%,
			rgba(120, 119, 198, 0.3),
			var(--transparent)
		);
	}
}
